@model OlympiaApp.Models.Vong1
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Round 1</h1>
<ul>
    @if (@ViewBag.num >= 1)
    {
        <li>
            <span>Player 1 : @ViewBag.Player1</span>       
            <input type="button" id="start1" value="Bắt đầu" />     
        </li>}
    @if (@ViewBag.num >= 2)
    {
        <li>
            <span>Player 2 : @ViewBag.Player2</span>
            <input type="button" id="start2" value="Bắt đầu" />
        </li>}
    @if (@ViewBag.num >= 3)
    {
        <li>
            <span>Player 3 : @ViewBag.Player3</span>
            <input type="button" id="start3" value="Bắt đầu" />
        </li>}
    @if (@ViewBag.num >= 4)
    {
        <li>
            <span>Player 4 : @ViewBag.Player4</span>
            <input type="button" id="start4" value="Bắt đầu" />
        </li>}
</ul>

<div>
    <table class="table table-striped">
        @for (int i = 0; i < 3; i++)
        {
            List<OlympiaApp.Models.Vong1> list = ViewData["listQues"] as List<OlympiaApp.Models.Vong1>;
            <tr>
                <td>Câu @(i + 1)</td>
                <td>@list[i].CauHoi</td>
                <td class='ans'>TS trả lời</td>
                <td>@list[i].DapAn</td>
            </tr>
        }
    </table>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(document).ready(function () {
            var question = document.querySelectorAll('.ans');
            for (var i = 0; i < 3; i++) {
                question[i].id = 'ans' + i;
            }
        });

        $(function () {
            var chat = $.connection.chatHub;
            chat.client.addNewMessageToPage = function (name, message) {

            };
            $.connection.hub.start().done(function () {
                $('#start1').click(function () {
                    chat.server.send($('#displayname').val(), '@ViewBag.Player1' + 'Start');
                });
                $('#start2').click(function () {
                    chat.server.send($('#displayname').val(), '@ViewBag.Player2' + 'Start');
                });
                $('#start3').click(function () {
                    chat.server.send($('#displayname').val(), '@ViewBag.Player3' + 'Start');
                });
                $('#start4').click(function () {
                    chat.server.send($('#displayname').val(), '@ViewBag.Player4' + 'Start');
                });
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}